@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Montserrat:ital,wght@1,900&display=swap');
.title-card {
    font-family: 'Khula', sans-serif !important;
    font-weight: 700 !important;
    justify-content: left;
}

.spiel-subtitle {
    font-family: 'Khula', sans-serif;
}